*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}
.top-bar{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    position: sticky;
    top: 0px;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.task{
    display: flex;
    font-family: sans-serif;
    font-size: 15px;
}
.top-bar span{
    color: rgb(185,253,80) ;
}
.top-bar .icon{
    margin-top:20px ;
    display: none;
}
.icon i{
    font-size: 40px;
}


@media(max-width: 978px){
    .top-bar a{
        display: none;
    }
    .top-bar .icon{
        display: block;
    }
}







.section1{
    background-image: url(./../list/Assignment/mulitimedia/image/Home-Page-e1760168367700.png);
}
.section1 p img{
    width: 1px;
    height: 1px;
}
.section1 img{
    width: 150vh;
    height: 80vh;
    margin: 0 180px 0 180px;
}







.affordable{
    background-color: rgb(249,249,249);
}







.package{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    align-items: start;
    text-align: left;
}





.development img{
    width: 60px;
    height: 60px;
}


.development{
    display: flex;
    margin: 110px;
    font-size: 14px;
    align-items: center;
}



.mvp img{
    width: 220px;
    height: 250px;
}




.landing {
    background-color: black;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}







.mobile {
    background-color: rgb(249,249,249);
    padding-top: 70px;
    padding-bottom: 35px;
}



.img1 {
    display: flex;
    justify-content: space-evenly;
}
.img1 img{
    width: 180px;
    height: 350px;
} 

.img2 {
    display: flex;
    justify-content: space-evenly;
}
.img2 img{
    width: 160px;
    height: 330px;
} 





.plug img{
    width: 60px;
    height: 60px;
}

.plug {
    display: flex;
    margin: 110px;
    font-size: 14px;
    align-items: center;
}




.perfect {
    background-color: rgb(249,249,249);
    padding-top: 50px;   
}

.perfect img {
    width: 30px;
    height: 30px;
}



.business {
    display: flex;
justify-content: space-evenly;
}
.day {
    box-shadow: 4px;
    width: 20%;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    text-align: left;
    align-content: center;
}

.project {
    display: flex;
justify-content: space-evenly;}
.many {
    box-shadow: 4px;
    width: 20%;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    text-align: left;
    align-content: center;
}

.word {
    box-shadow: 4px;
    width: 20%;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    margin: 0 auto;
}



.classified img {
    width: 100%;
    height: 100%;
}

.classified {
    box-shadow: 4px;
    width: 20%;
    height: 50%;
    border: thin solid rgb(206,206,206);
    border-radius: 5px;
}
.classified p {
    padding: 5px 10px;
}



.Andrei {
    display: flex;
    justify-content: space-evenly;
}






.design {
    background-color: rgb(249,249,249);
}



.agency {
    background-color: rgb(249,249,249);
}


.services {
    display: flex;
justify-content: space-evenly;}

.services .website {
    box-shadow: 4px;
    width: 20%;
    background-color: rgb(249,249,249);
    padding: 25px;
    border-radius: 25px;
    text-align: left;
    align-content: center;
}

.services .website img {
    width: 30px;
    height: 30px;
}




.plugin {
    display: flex;
justify-content: space-evenly;}

.plugin .website {
    box-shadow: 4px;
    width: 20%;
    background-color: rgb(249,249,249);
    padding: 25px;
    border-radius: 25px;
    text-align: left;
    align-content: center;
}

.plugin .website img {
    width: 30px;
    height: 30px;
}

















@media (max-width: 768px) {
  .development,
  .Cutting-Edge,
  .package,
  .img1,
  .img2,
  .plug,
  .business,
  .project {
    display: inline;
    text-align: center;
    align-content: center;
    box-sizing:border-box;
  }


  /* .section1

  .section1 p img {
    /* width: 50vh;
    height: 30vh;
    justify-content: center; */
  } */


  .section1 img {
    width: 80vh;
    height: 30vh;
    /* align-content: center; */
    padding-right: 250px;
  }

  .nav {
    display: none;
  }



